

a {
	color: #000;
}

a:hover {
	text-decoration: none;
}

#wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	padding-right: 0;
	padding-left: 0;
	
}

.main {
	flex: 1;
}

.jumbotron {
	margin-bottom: 0;
	background-color:#ffffff;
	/* margin-right: 10%;
	margin-left: 10%; */
}

.jumbotron p {
	font-size: 18px;
}

#welcome {
	margin-top: 0;
}

#myCarousel {
	margin-bottom: 0px;
	margin-right: 18%;
	margin-left: 18%;
	
}

.carousel-caption{
	border: 1px solid rgba(30, 126, 123);
	border-radius: 5px;
	background-color: rgba(30, 126, 123, 0.6);
}

#special-offers{
	padding:0;
	
}

@media screen and (max-width: 768px) {
	#myCarousel{
		margin-right: 0;
		margin-left:0;
		padding: 0;
	}

	.jumbotron {
		margin-right: 0%;
		margin-left:0%;
	}
	.jumbotron p {
		font-size: 15px;
	}
	
	.container-fluid {
		padding-left:0;
		padding-right:0;
	}


}

#myCarousel a {
	margin :0;
	
}
#special-prod-panel{
	background-color: rgb(36,78,78);
	border-radius: 20px;
	margin-bottom: 3px;
	border-right: 3px solid white;
}

#special-header{
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 0px;
}

#prod-panel img, #special-prod-panel img  {
	max-width: 100%;
}	

#singleProduct {
	margin-bottom: 63px;
}

#singleProduct img, #prod-panel img {
	border-radius: 6px;
}

legend {
	width:auto;
	border-radius: 5px;
	border: 1px solid #999;
	padding: 4px 15px;
	background-color:#ffffff;
}
fieldset {
	/* width: 450px; */
	border: 1px solid #999;
	border-radius: 20px;
	padding: 20px;
	margin-bottom: 50px;
	background-color:rgba(217, 250, 186, 0.938);
}

#map {
	height:464px; 
	width:100%;
	border: 1px solid #999;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 50px;
	background-color:rgba(217, 250, 186, 0.938);
	
}

fieldset .btn {
	color:#D7BDAE;
	background-color: rgb(36,78,78);
	border: 1px solid #999; 
	margin-left: 15px;
}
fieldset .btn:hover{
	color:#ffffff;
}






