
a {
	color: #000;
}

a:hover {
	text-decoration: none;
}

#wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	padding-right: 0;
	padding-left: 0;
	
}

.main {
	flex: 1;
}



#intro {
	margin-bottom:50px;
	margin-top:50px;
}

#intro h2{
	margin-bottom: 20px;
}

#intro p, #bespokeContact p {
	font-size: 17px;
}

#bespokeContact p{
	margin-top: 20px;
	margin-bottom:20px;
	padding-left:20px;
	padding-right:20px;
}

#mainCarousel {
	margin-bottom: 0px;
	margin-right: 18%;
	margin-left: 18%;
	
}

#bespokeCarousel {
	margin-bottom: 0px;
	margin-right: 10%;
	margin-left: 10%;
}

.carousel-caption{
	border: 1px solid rgba(30, 126, 123);
	border-radius: 5px;
	background-color: rgba(30, 126, 123, 0.932);
}

#special-offers{
	padding:0;
	
}

@media screen and (max-width: 768px) {
	#mainCarousel, #bespokeCarousel{
		margin-right: 0;
		margin-left:0;
		padding: 0;
	}

	#intro {
		margin-right: 0%;
		margin-left:0%;
		
	}
	#intro p {
		font-size: 15px;
		padding-left:7%;
		padding-right:7%;
	}
	#intro h2{
		padding-left:7%;
		padding-right:7%;	
	}
	
	.container-fluid {
		padding-left:0;
		padding-right:0;
	}

	#singleProduct.col-sm-6, #singleProduct img  {
		margin: 0 10px;
	}

	#singleProductBtns{
		margin: 40px 10px;
	}

	label {
		display:none;
	}
		
}

#mainCarousel a, #bespokeCarousel a {
	margin :0;
	opacity: 0.5;
	color: rgba(30, 126, 123, 0.6);
}
#special-prod-panel{
	background-color: rgb(36,78,78);
	border-radius: 20px;
	margin-bottom: 3px;
	padding-top: .3%;
	border-right: 3px solid white;
}

#special-header{
	padding-bottom: 10px;
	padding-top: 10px;
}

#prod-panel img, #special-prod-panel img  {
	max-width: 100%;
	border-radius:6px;
}	

#singleProduct {
	margin-bottom: 40px;
}

#singleProduct img{
	border-radius: 6px;
}

legend {
	width:auto;
	border-radius: 5px;
	border: 1px solid #999;
	padding: 4px 15px;
	background-color:#ffffff;
}
fieldset {
	/* width: 450px; */
	border: 1px solid #999;
	border-radius: 20px;
	padding: 20px;
	margin-bottom: 50px;
	background-color:rgba(217, 250, 186, 0.938);
}

#map {
	height:446px; 
	width:100%;
	border: 1px solid #999;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 50px;
	background-color:rgba(217, 250, 186, 0.938);
	
}

fieldset .btn {
	color:#D7BDAE;
	background-color: rgb(36,78,78);
	border: 1px solid #999; 
	margin-left: 15px;
}

fieldset .btn:focus{
	color:#D7BDAE;
}

fieldset .btn:hover{
	color:#ffffff;
}

input{
	margin-bottom: 5px;
}


label.col-sm-2 {
	padding-left:0px;
}

.slide img{
	padding:0;
}

.carousel-inner{
	background-color: rgba(30, 126, 123, 0.521); 
	
}

#singleProductBtns{
	margin-bottom:40px;
}





