<div class ="container-fluid text-center">
	<h2>{{category}}</h2>
	<br/>
	<div class="row">
		<div id="prod-panel" class= "col-md-4 col-sm-6 col-xs-12" ng-repeat = "prod in products | filter:category">
			<a href="#/products/{{prod.id}}">
				<div class ="panel panel-default">  
					<div class="panel-heading" >{{prod.name}}</div>
					<div class = "panel-body">
						<img ng-src="{{prod.imageLocation}}" />
					<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi autem libero in culpa tempora rerum, iste quae reiciendis quis facilis dolorem blanditiis incidunt aliquam magni molestiae illum molestias asperiores alias?</div>
					</div>
				</div>
			</a>
		</div>
		
	</div>
</div>