<div class="container-fluid" ng-repeat = "prod in products | filter:id">
	<h2 class="text-center">{{prod.name}}</h2>
	<div class="row" id ="singleProduct">
		<div class ="col-sm-6">
			<img ng-src ="{{prod.imageLocation}}" class="img-responsive"/>
		</div>
		<div id="single-prod-details" class="col-sm-6">
			<p>
				<strong>Description: </strong>{{prod.description}}
			</p>
			<p>
				<strong>Materials used: </strong>{{prod.materials}}
			</p>
			<p>
				<strong>Price: </strong>{{prod.price}}
			</p>
		</div>
	</div>

	<div id="singleProductBtns">
		<a href ="#/products/{{prod.category}}" class="btn btn-primary">Back to the {{prod.category}} page</a>
	</div>
</div>