<footer class="footer">
	<div class="pull-left" id="footer-contact">
		<a class="social-icon" href="http://www.facebook.com">
			<i class="fab fa-facebook-square"></i>
		</a>
		<a class="social-icon" href="http://www.instagram.com">
			<i class="fab fa-instagram"></i>
		</a>
		
		<!-- <div class="phonedetails">
			<p> -->
				<a id="phone" href="tel:+48666831255">
					<span class="glyphicon glyphicon-phone-alt"></span> 
					+48666831255
				</a>
			<!-- </p>
		</div> -->
	</div>
	<div id = "footer-copyright">
		<p>Site by James Dungan</p> 
		<p>Copyright &copy; Drewno I Kolor 2018</p>
	</div>	
</footer>





