
<footer class="footer">
	
	

	<div class="pull-right">
				
		Connect on social media: 
					<a href="http://www.facebook.com">
						<img src="assets/img/glyphicons-social-31-facebook.png" alt="facebook icon">
					</a>
					<a href="http://www.twitter.com">
						<img src="assets/img/glyphicons-social-32-twitter.png" alt="twitter icon">
					</a>
					<a href="http://www.instagram.com">
						<img src="assets/img/glyphicons-social-33-instagram.png" alt="instagram icon">
					</a>
					<a href="http://www.youtube.com">
						<img src="assets/img/glyphicons-social-23-youtube.png" alt="youTube icon">
					</a>
					<a href="http://www.linkedin.com">
						<img src="assets/img/glyphicons-social-18-linked-in.png" alt="linkedIn icon">
					</a>
				
	</div>

	<div class="phonedetails">
		<p><a href="tel:+48666831255"><span class="glyphicon glyphicon-phone-alt"></span> +48666831255</a>
		</p>

	</div>

	
</footer>





