<footer class="footer">
	<div class="pull-left" id="footer-contact">
		<a class="social-icon" href="http://www.facebook.com/drewnoikolor">
			<i class="fab fa-facebook-square"></i>
		</a>
		<a class="social-icon" href="http://www.instagram.com/drewnoikolor">
			<i class="fab fa-instagram"></i>
		</a>
		
	<div>
		<a id="phone" href="tel:+48666831255">
			<span class="glyphicon glyphicon-phone-alt"></span> 
			+48666831255
		</a>
		<a id="phone" href="tel:+48504118809">
			<span class="glyphicon glyphicon-phone-alt"></span> 
			+48504118809
		</a>
	</div>		

	</div>
	<div id = "footer-copyright">
		<p>Site by James Dungan</p> 
		<p>Copyright &copy; Drewno I Kolor 2018</p>
	</div>	
</footer>





