<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="isNavCollapsed=true" ng-click="isNavCollapsed = !isNavCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">
        <img src="assets/img/drewnoIKolor_logo1.jpeg" alt="drewnoIKolor_logo1">
      </a>
    </div>

    <div uib-collapse="isNavCollapsed" id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="navbar-item" href="#/home" ng-click="isNavCollapsed=true">Home</a>
        </li>
        <li>
          <a class="dropdown-toggle navbar-item" data-toggle="dropdown" role="button" aria-expanded="false">Products
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a class="navbar-item" href="#/products/woodentoys" ng-click="isNavCollapsed=true">Wooden Toys</a>
            </li>
            <li>
              <a class="navbar-item" href="#/products/woodenaccessories" ng-click="isNavCollapsed=true">Wodden Accessories</a>
            </li>
        </li>
        <li class="divider">
        </li>
        <li>
          <a class="navbar-item" href="#/products/specialoffers" ng-click="isNavCollapsed=true">Special Offers</a>
        </li>
        </ul>
        <li>
          <a class="navbar-item" href="#/bespokeservice" ng-click="isNavCollapsed=true">Bespoke Service</a>
        </li>
        <li>
          <a class="navbar-item" href="#/contactus" ng-click="isNavCollapsed=true">Contact Us</a>
        </li>
        <li>
          <a class="navbar-item" href="#/about" nng-click="isNavCollapsed=true">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>