<div class = "container-fluid text-center" >
    <h2>About Us</h2>
    <div class="col-xs-12 col-md-6">

    </div>
    <div class="col-xs-12 col-md-6"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi culpa delectus id nihil laudantium veritatis quo odio quod atque ipsum obcaecati sunt fuga perspiciatis 
        debitis sapiente possimus, minima, eos assumenda! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, doloribus repudiandae! Eius dolorum eos consequuntur, 
        nam quod ducimus, quasi omnis, quidem exercitationem praesentium magnam hic officia accusamus autem maxime quisquam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi culpa delectus id nihil laudantium veritatis quo odio quod atque ipsum obcaecati sunt fuga perspiciatis 
        debitis sapiente possimus, minima, eos assumenda! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, doloribus repudiandae! Eius dolorum eos consequuntur, 
        nam quod ducimus, quasi omnis, quidem exercitationem praesentium magnam hic officia accusamus autem maxime quisquam.</p></div>
</div>