<div class = "container-fluid" >
    <h2 class="text-center">About Derewno I Kolor</h2>
    <div class="col-xs-12 col-md-6">

    </div>
    <div class="col-xs-12 col-md-6"> <p class= "about" >Welcome to Wood & Colour, the place to find classic wooden toys for your child.</p>

        <p class= "about">All of our products are purpose built for children and made from different types of wood. The natural beauty from Mother Nature.
        We are two persons company believes that high quality makes difference.
        We thoroughly check quality of our items, working only with genuine, reliable suppliers so that your kids can receive the best products. These is non-plastic toys, made by hand in Poland.
        Our aim is to help make a healthy and engaging play environment for kids. We want to assist in the creation of a joyful childhood while at the same time aiding development. 
        By doing this, we hope to point them in the right direction and give them a brighter future.</p>
        
        <p class= "about">Wood & Colour is child’s best friend!</p></div>
</div>