<div class = "container-fluid bespoke-container" >

    <div class="row">
      <div id="intro" class="text-center">
        <h2>Bespoke Services</h2>
        <p>We provide a Bespoke product design service!
        Orders can be tailor-made to your specification.</p>
        <p>Take a look at some examples of our previous work below..</p>
      </div>
    </div>   
  
  
      <div uib-carousel id="bespokeCarousel" active="0" no-transition="false" no-wrap="false" interval="1000000">
      
        
        <div class="slide" uib-slide index="0">
            <img src="assets/img/trainAndBlocks2.jpeg" alt="train and blocks" class="bespoke-slide-img img-responsive col-xs-12 col-sm-6 col-md-6">
            <div class="bespokeDescription col-xs-12 col-sm-6 col-md-6">We work closely with our valued customers to design and create gifts and toys aimed to delight the recipient. This Wodden train set is a great example.</div>  

        </div>
        
  
        <div class="slide" uib-slide index="1">
            <img src="assets/img/pinkCat1.jpeg" alt="train and blocks" class="bespoke-slide-img img-responsive col-xs-12 col-sm-6 col-md-6">
            <div class="bespokeDescription col-xs-12 col-sm-6 col-md-6">If you already like one of our pre-made products but would like a personal touch. We are happy to paint them in any colour you want.</div>    
        </div>
  
        <div class="slide" uib-slide index="2">
          <img src="assets/img/trainEngine.jpeg" alt="train and blocks" class="bespoke-slide-img img-responsive col-xs-12 col-sm-6 col-md-6">
          <div class="bespokeDescription col-xs-12 col-sm-6 col-md-6">Another great example of a custom made toy which a little boy very happy indeed!</div>    
        </div>
  
     </div>
  <!-- !myCarousel -->
 
    <div id= "bespokeContact" class="text-center">
      <p>Please get in touch via our<a href="#/contactus"><strong>Contact</strong></a>page and send a message detailing your request! </p>
    </div>
</div>
 