<div class = "container-fluid" >
    <h2 class ="text-center">Contact Us</h2>
    
    <section class="col-md-6 panel panel-default">
        <h3>
            Send us a message!
        </h3>
        <div class ="panel-body">
            <form id="contact-form">
                <fieldset>
                    <legend>Contact Form</legend>
                    <div class ="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class = "col-sm-10">
                            <input type="text" class ="form-control" id="name" placeholder="First and Last Name"/>
                        </div>
                    </div>
                    <div class ="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class = "col-sm-10">
                            <input type="email" class ="form-control" id="email" placeholder="example@domain.com" />
                        </div>
                    </div>
                    <div class ="form-group">
                        <label for="tel" class="col-sm-2 control-label">Tel.</label>
                        <div class = "col-sm-10">
                            <input type="text" class ="form-control" id="tel" placeholder="Telephone Number"/>
                        </div>
                    </div>
                    <div class ="form-group">
                        <label for="subject" class="col-sm-2 control-label">Subject</label>
                        <div class = "col-sm-10">
                            <input type="text" class ="form-control" id="subject" placeholder="Subject"/>
                        </div>
                    </div>
                    <div class ="form-group">
                        <label for="message" class="col-sm-2 control-label">Subject</label>
                        <div class = "col-sm-10">
                            <textarea class ="form-control" id="message" rows="10" ></textarea>
                        </div>
                    </div>
                    <button type="submit" class ="btn">Send</button>
                    
                    
                </fieldset>
            </form>
        </div>    
    </section>
   
    <section id="map-section" class="col-md-6 panel panel-default">
        <h3>
            Our Location
        </h3>
        <div class ="panel-body map-container">
            <div id="map"></div>
        </div>
    </section>

</div>
