<div class = "container-fluid" >

  <div class="row">
    <div class="jumbotron text-center">
      <h2 id="welcome">Welcome to the Drewno I Kolor website</h2>
      <p>We hope you enjoy browsing our product pages. Feel free to get in touch if you have any queries.</p>
        <p>As well as the ready-made wooden toys and other items on our products pages, we also provide a
        <a href="#/bespokeservice"><strong>Bespoke Products Service</strong></a> and will gladly work with you to create something special.</p>
      <p>Jump to our<a href="#/contactus"><strong>Contact Us</strong></a>page or follow the links at the bottom of the page to connect with us on social media. We are looking
        forward to hearing from you.</p>
    </div>
  </div>
<!-- !welcome jumbotron -->
 


    <div uib-carousel id="myCarousel" active="0" no-transition="false" no-wrap="false" interval="6000">
    
      
      <div class="slide" uib-slide index="0">
        <a href ="#/products/woodentoys">
          <img src="assets/img/catAndDog2.jpeg" alt="cat and dog" class="img-responsive">
          <div class="carousel-caption">
              <h2>Wooden Toys</h2>
              <p>Something special for your special angel</p>
          </div>
        </a>
      </div>
      

    <div class="slide" uib-slide index="1">
      <a href ="#/products/woodenaccessories">
        <img src="assets/img/threeCats2.jpeg" alt="3 cats" class="img-responsive">
        <div class="carousel-caption">
          <h2>Wooden Accessories</h2>
          <p>All sorts of useful household items and great gift ideas</p>
        </div>
      </a>
    </div>

    <div class="slide" uib-slide index="2">
      <a href ="#/bespokeservice">
        <img src="assets/img/trainAndBlocks2.jpeg" alt="train and blocks" class="img-responsive">
        <div class="carousel-caption">
          <h2>Bespoke Service</h2>
          <p>We also provide a custom made products service</p>
          <p>Please get in touch with us via our Contact Form if you have any special requests</p>
        </div>
      </a>
    </div>

   </div>
<!-- !myCarousel -->



  <div class="row text-center" id="special-offers">
    
      <h2 id="special-header">{{category}}</h2>
      <!-- <br/> -->
     
        <div id="special-prod-panel" class= "col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat = "prod in products | filter:category">
          <a href="#/products/{{prod.id}}">
            <div class ="panel panel-default">  
              <div class="panel-heading" >{{prod.name}}</div>
              <div class = "panel-body">
                <img ng-src="{{prod.imageLocation}}" />
              </div>
            
          </a>
        </div>
        
      </div>
 
  </div>
</div>